version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.13.0
  gcp-cli: circleci/gcp-cli@1.0.0
  gke: circleci/gcp-gke@1.2.0
jobs:
  build_and_push_docker_image:
    executor: gcp-gcr/default
    steps:
      - checkout
      - gcp-gcr/gcr-auth
      - gcp-gcr/build-image:
          image: django-polls
          no_output_timeout: 20m
          registry-url: gcr.io
      - gcp-gcr/push-image:
          digest-path: /tmp/digest.txt
          image: django-polls
          registry-url: gcr.io
  # this only updates an existing!! deployment it does not create a new deployment        
  publish-and-rollout-production:    
    docker:
      - image: cimg/python:3.9.2
    steps:
      - checkout
      - gke/install
      - gcp-gcr/gcr-auth
      - gke/rollout-image:
          cluster: cluster-production
          container: polls-app
          deployment: polls
          image: gcr.io/scacloudschool/django-polls
  publish-and-rollout-staging:    
    parameters:
      cluster-name:
        default: "cluster-staging"
        type: string    
    docker:
      - image: cimg/python:3.9.2
    steps:
      - checkout
      - gke/install
      - gcp-gcr/gcr-auth
      - gke/rollout-image:
          cluster: << parameters.cluster-name >>
          container: polls-app
          deployment: polls
          image: gcr.io/scacloudschool/django-polls
      - run:
          name: "run migrations, collect static files and run tests"
          command : |
              gcloud container clusters get-credentials << parameters.cluster-name >>
              kubectl exec $(kubectl get pods | awk '{print $1}' | sed -n 2p)  -- bash -c "python3 -m venv venv && \
              source venv/bin/activate && \
              pip install -r requirements.txt && \
              python manage.py migrate
              python manage.py collectstatic --noinput 
              gsutil -m rsync -r ./static gs://polls-static-files/static
              python manage.py test "
  collect-statics:
    docker:
      - image: cimg/python:3.9.2
    steps:
      - checkout
      - gcp-cli/install
      - gcp-gcr/gcr-auth
      - run:
          command: |
            python3 -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
            python3 manage.py collectstatic --noinput 
            gsutil -m rsync -r ./static gs://polls-static-files/static

workflows:
    build_test_deploy:
      jobs:
        - build_and_push_docker_image
        - publish-and-rollout-production:
            requires:
              - build_and_push_docker_image
            filters:
              branches:
                only:
                  master
        - publish-and-rollout-staging:
            requires:
              - build_and_push_docker_image
            filters:
              branches:
                only:
                  develop
        #- run-migrations:
            #requires:
              #- publish-and-rollout
        #- run-tests:
            #requires:
              #- publish-and-rollout
        #- collect-statics:
            #requires:
             # - publish-and-rollout
